html {
    position: fixed;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

body {
    height:100%;
    width:100%;
    overflow:hidden;
}

#questionbox {
    display:none;
    padding: 10px;
    border-style: dotted;
    margin-left:30%;
    width: 40%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    z-index: 2;
}

@keyframes showBox {
    to {
      visibility: visible;
    }
  }

#subjects {
    visibility:hidden;
    width: 80%;
    height: 40%;
    margin-left:10%;
    top: 35%;
    position:absolute;
    animation: showBox 0s ease-in 3s;
    animation-fill-mode: forwards;
}

#subjects > button {
    width: 20%;
    margin: 2.3%;
    height: 80%;
    border-style:dotted;
    background-color:transparent;
    visibility:inherit;
}

h1{
    margin-top:0px;
    text-align:center;
    font-family:Palatino Linotype;
}

#title{
    margin-left: 25%;
    height: 30%;
    width: 50%; 
    top: 50%;
    transform: translateY(-50%);
    position:absolute;
    animation: moveTitle 1s ease-in 2s;
    animation-fill-mode: forwards;
}

@keyframes moveTitle {
    to {
        top:20%;
    }
  }

.cls-1 {
    fill:transparent;
    stroke:black;
    stroke-width: 5px;
    stroke-dasharray: 1500;
    stroke-dashoffset: 1500;
    animation: dash 2s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}

#apaptest2 {
    animation-delay: 100ms;
}
#apaptest3 {
    animation-delay: 200ms;
}
#apaptest4 {
    animation-delay: 300ms;
}
#apaptest5 {
    animation-delay: 400ms;
}
#apaptest6 {
    animation-delay: 500ms;
}
#apaptest7 {
    animation-delay: 600ms;
}
#apaptest8 {
    animation-delay: 700ms;
}
#apaptest9 {
    animation-delay: 800ms;
}
#apaptest10 {
    animation-delay: 900ms;
}
#apaptest11 {
    animation-delay: 1000ms;
}
#apaptest12 {
    animation-delay: 1100ms;
}
#apaptest13 {
    animation-delay: 1200ms;
}
#apaptest14 {
    animation-delay: 1300ms;
}
#apaptest15 {
    animation-delay: 1400ms;
}
#apaptest16 {
    animation-delay: 1500ms;
}
#apaptest17 {
    animation-delay: 1600ms;
}

@keyframes dash {
    from {
        stroke-dashoffset: 1500;
      }
    to {
      stroke-dashoffset: 0;
    }
  }

#bush1 {
    visibility: hidden;
    height:80%;
    margin-left: 7%;
    margin-top:5%;
    position:absolute;
    animation-delay: 100ms;
}

#bush2 {
    visibility: hidden;
    height: 80%;
    margin-left:70%;
    margin-top: -20%;
    position:absolute;
    animation-delay: 200ms;
}

#bush3 {
    visibility: hidden;
    height: 80%;
    margin-top: -21%;
    margin-left: -10%;
    position:absolute;
    animation-delay: 300ms;
}
#bush4 {
    visibility: hidden;
    height: 80%;
    margin-top:5%;
    margin-left: 77%;
    position:absolute;
    animation-delay: 400ms;
}
#bush5 {
    visibility: hidden;
    height: 80%;
    margin-top: 15%;
    margin-left: 73%;
    position:absolute;
    animation-delay: 500ms;
}
#bush6 {
    visibility: hidden;
    height: 80%;
    margin-top: -9%;
    margin-left:-9%;
    position:absolute;
    animation-delay: 600ms;
}
#bush7 {
    visibility: hidden;
    height: 80%;
    margin-top: 18%;
    margin-left: 20%;
    position:absolute;
    animation-delay: 700ms;
}
#bush8 {
    visibility: hidden;
    height: 80%;
    margin-left: 50%;
    margin-top: 17%;
    position:absolute;
    animation-delay: 800ms;
}
#tbush1 {
    visibility: hidden;
    height: 80%;
    margin-left:-1%;
    margin-top: -7%;
    position:absolute;
    animation-delay: 900ms;
}
#tbush2 {
    visibility: hidden;
    height: 80%;
    margin-left:-12%;
    margin-top: 15%;
    position:absolute;
    animation-delay: 1000ms;
}
#tbush3 {
    visibility: hidden;
    height: 80%;
    margin-left: 61%;
    margin-top: 2%;
    position:absolute;
    animation-delay: 1100ms;
}
#pine1 {
    visibility:hidden;
    height: 60%;
    margin-left:5%;
    margin-top:-9%;
    position:absolute;
}
#pine2 {
    visibility:hidden;
    height: 60%;
    margin-left:16%;
    margin-top:20%;
    position:absolute;
}
#pine3 {
    visibility:hidden;
    height: 60%;
    margin-left:73%;
    margin-top:10%;
    position:absolute;
}

#layered1 {
    visibility:hidden;
    height: 60%;
    margin-left:80%;
    margin-top:0%;
    position:absolute;
}

#layered2 {
    visibility:hidden;
    height: 60%;
    margin-left:85%;
    margin-top:30%;
    position:absolute;
}
#layered3 {
    visibility:hidden;
    height: 60%;
    margin-left:0%;
    margin-top:20%;
    position:absolute;
}

#jungle {
    visibility:hidden;
    height: 100%;
    margin-left:-16%;
    margin-top:8%;
    position:absolute;
}

#jungle2 {
    visibility:hidden;
    height: 100%;
    margin-left:55%;
    margin-top:8%;
    position:absolute;
}

.cls-2 {
    fill:transparent;
    stroke:black;
    stroke-width: 5px;
    stroke-dasharray: 1500;
    stroke-dashoffset: 1500;
    animation: dash 5s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}

.cls-3 {
    fill:transparent;
    stroke:black;
    stroke-width: 5px;
    stroke-dasharray: 1500;
    stroke-dashoffset: 1500;
    animation: dash 5s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}
.cls-4 {
    fill:transparent;
    stroke:black;
    stroke-width: 5px;
    stroke-dasharray: 1500;
    stroke-dashoffset: 1500;
    animation: dash 5s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}

.cls-5 {
    fill:transparent;
    stroke:black;
    stroke-width: 5px;
    stroke-dasharray: 1500;
    stroke-dashoffset: 1500;
    animation: dash 5s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}

.cls-6 {
    fill:transparent;
    stroke:black;
    stroke-width: 5px;
    stroke-dasharray: 1500;
    stroke-dashoffset: 1500;
    animation: dash 5s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}

.cls-7 {
    fill:transparent;
    stroke:black;
    stroke-width: 5px;
    stroke-dasharray: 1500;
    stroke-dashoffset: 1500;
    animation: dash 5s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}